@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Theme Colors */
    --background: #ffffff;
    --foreground: #0f172a;

    --card: #ffffff;
    --card-foreground: #0f172a;

    --popover: #ffffff;
    --popover-foreground: #0f172a;

    --primary: #0f4c81; /* Startup blue */
    --primary-foreground: #ffffff;

    --secondary: #3498db; /* Startup blue light */
    --secondary-foreground: #ffffff;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #3498db;
    --accent-foreground: #ffffff;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #0f172a;

    --radius: 0.5rem;

    --sidebar-background: #fafafa;
    --sidebar-foreground: #3f3f46;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;

    --sidebar-accent: #f2f2f2;
    --sidebar-accent-foreground: #1a1a1a;

    --sidebar-border: #d1d5db;
    --sidebar-ring: #3b82f6;
  }

  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;

    --card: #0f172a;
    --card-foreground: #f8fafc;

    --popover: #0f172a;
    --popover-foreground: #f8fafc;

    --primary: #f8fafc;
    --primary-foreground: #1e293b;

    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --accent: #1e293b;
    --accent-foreground: #f8fafc;

    --destructive: #991b1b;
    --destructive-foreground: #f8fafc;

    --border: #1e293b;
    --input: #1e293b;
    --ring: #cbd5e1;

    --sidebar-background: #1a1a1a;
    --sidebar-foreground: #f2f2f2;
    --sidebar-primary: #3b82f6;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #292929;
    --sidebar-accent-foreground: #f2f2f2;
    --sidebar-border: #292929;
    --sidebar-ring: #3b82f6;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  /* globals.css */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
